<div class="panel panel-primary" >
      <div class="panel-heading">Snapshot displayed below:</div>
      <div class=" panel-body">
      <div class="col-md-8">
        <br>
        <table class="table table-striped" id ="livedata">
          <thead>
              <tr>
                <th>Exchange</th>
                <th>Transaction Type</th>
                <th>Price</th>
                <th>Count</th>
                <th>Pair Name</th>
              </tr>
            </thead>
            <tbody>
          </tbody>
        </table>
      </div>
      </div>

</div>